<!DOCTYPE html>
<html lang="en_us">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }} | {{ site.title }}</title>
	<link rel="stylesheet" href="/assets/css/chota.min.css">
	<style type="text/css">
		body > .container {
			max-width: 640px;
		}
	</style>
</head>
<body>

	<div class="container">

		<br>

		<nav class="nav">
			<div class="nav-center">
				<a class="brand" href="/">Bumm Bumm Garage</a>
			</div>
		</nav>
		<br><br>

		<div class="row">
			<div class="col">