<!DOCTYPE html>
<html lang="en_us">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ page.title }} | {{ site.title }}</title>
	<link rel="stylesheet" href="/assets/css/chota.min.css">
	<style type="text/css">
		body > .container {
			max-width: 640px;
		}
		.nav .brand, .nav a {
			display: inline;
			text-align: center;
			line-height: 1.5;
			margin-top: 1.5em;
			margin-bottom: 1.5em;
		}
		.nav .brand img {
			max-height: 10rem;
			padding-right: 0;
		}
		#cta {
			margin-top: 3em;
			margin-bottom: 1.5em;
		}
	</style>
</head>
<body>

	<div class="container">
		<nav class="nav">
			<div class="nav-center">
				<a class="brand" href="/">
					<img class="is-rounded" src="/assets/img/logo.jpg"><br>
					Bumm Bumm Garage
				</a>
			</div>
		</nav>

		<div class="row">
			<div class="col">