<!DOCTYPE html>
<html lang="en_us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/chota.min.css">
    <style type="text/css">
    	body > .container {
    		max-width: 640px;
		}
    </style>
  </head>
  <body>

	<div class="container">

		<br>

	  	<nav class="nav">
		  <div class="nav-center">
		    <a class="brand" href="/">Bumm Bumm Garage</a>
		  </div>
		</nav>
		<br>

		<!--
		<nav class="tabs is-full">
			<a href="/" class="active">Modules</a>
			<a href="#">Projects</a>
			<a href="#">About</a>
		</nav>
		<br>
	-->

		<div class="row">
	  		<div class="col">
	  			{{ content }}

	  			<br>
	  			<h4 class="is-center">And there's more to come!</h4>
	  			<p>
	  				<a href="https://www.instagram.com/bumm.bumm.garage/" class="button primary outline is-full-width">Follow me on Instagram</a>
	  			</p>
	  			<p class="is-center">I will keep you posted 💬</p>

	  		</div>
		</div>
	</div>

<br><br>

  </body>
</html>
