<!DOCTYPE html>
<html lang="en_us">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | Bumm Bumm Garage</title>
    <link rel="stylesheet" href="/assets/css/awsm.min.css">
  </head>
  <body>
    <header>
      <h1>Bumm Bumm Garage</h1>
    </header>

    <main>
      <article>
        {{ content }}
      </article>
    </main>
    
  </body>
</html>
