		
{% include header.html %}

{{ content }}

<table>
  <thead>
    <tr>
      <td>
        Name
      </td>
      <td>
        Date
      </td>
    </tr>
  </thead>
  <tbody>
    {% for module in site.data.modules %}
    <tr>
      <td>
        <a href='modules/{{ module.name | replace: " ", "-" | replace: "(", "" | replace: ")", "" | downcase }}'>
        {{ module.name }}
        </a>
      </td>
      <td>
        {{ module.date }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<br>

{% include footer.html %}
