		
{% include header.html %}

{{ content }}


{% assign overall_sessions = 0 %}

{% for session in site.data.sessions %}

  {% assign overall_sessions = forloop.length %}

{% endfor %}
  
<!-- How many sessions are there in the data? -->
<!-- Overall Sessions: {{ overall_sessions }} <br> -->


{% assign total = 0 %}

{% assign offset = 0 %}

{% for session in site.data.sessions %}
  
  {% if total <= page.goal %}

    {% assign total = total | plus: session.minutes %}

    {% assign offset = offset | plus: 1 %}

  {% else %}

    {% break %}

  {% endif %}
    
{% endfor %}

<!-- How many sessions were needed to reach the goal given by the page variable -->
<!-- Offset: {{ offset }} <br> -->


<p>Total: {{ total }} minutes</p>

<h2>Sessions</h2>

<table>
  <thead>
    <tr>
      <td>
        Date
      </td>
      <td>
        Minutes
      </td>
      <td>
        Link
      </td>
      <td>
        Rating
      </td>
    </tr>
  </thead>
  <tbody>

    {% assign sorted = site.data.sessions | sort: 'date' | reverse %}

    {% assign reverse_offset = overall_sessions | minus: offset %}
    
    {% for session in sorted offset: reverse_offset %}

      <tr>
        <td class="date">
          {{ session.date | date: "%d" | plus:'0' }}.{{ session.date | date: "%m" | plus:'0' }}.{{ session.date | date: "%y" | plus:'0' }}
        </td>
        <td>
          {{ session.minutes }}
        </td>
        <td>
          <a href='{{ session.link }}'>
            {{ session.link | replace: "https://", "" }}
          </a>
        </td>
        <td class="rating" style="font-size: 18px;">

          {% if session.rating %}

            {% assign rating = session.rating | plus: 0 %}

            {% assign stars = "" %}

            {% for i in (1..5) %}
              {% if i <= rating %}
                {% assign stars = stars | append: "<span style='color: orange;'>&#9733;</span>" %}
              {% else %}
                {% assign stars = stars | append: "<span style='color: #7d7d7d;'>&#9734;</span>" %}
              {% endif %}
            {% endfor %}

            {{ stars }}

          {% endif %}

        </td>
      </tr>

      {% assign total = total | plus: session.minutes %}

    {% endfor %}
  </tbody>
</table>

<br>

{% include footer.html %}


<script type="text/javascript">

// Check if the single submits are younger than 5 days.
// Then I won't listen back to them yet.
// Therefore I make the date color red.
$(document).ready(function() {
  $('td.date').each(function() {
    const dateString = $(this).text();
    if (!isDateOlderThanFiveDays(dateString)) {
      $(this).css("color", "rgb(241,63,87)");
    }
  });

  function isDateOlderThanFiveDays(dateString) {
    const [day, month, year] = dateString.split('.').map(Number);
    const date = new Date(year < 100 ? year + 2000 : year, month - 1, day);
    const currentDate = new Date();
    const fiveDaysAgo = new Date(currentDate.getFullYear(), currentDate.getMonth(), currentDate.getDate() - 5);
    return date < fiveDaysAgo;
  }
});

</script>
